body {
    margin: 0;
    padding: 0;
}

.icon__menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #000000;
    background: rgba(224, 224, 224, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    left: 8px;
    top: 8px;
}

.icon__menu img {
    width: 20px;
    height: 20px;
}

.header {
    height: 90px;
    background: #3a0088;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Arial black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__div {
    height: 90px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__figure {
    height: 60px;
}

.header__image {
    height: 60px;
}

.nav {
    margin: 0;
    display: flex;
    align-items: center;
}

.nav__ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav__ul a {
    margin: 0;
    padding: 6px 24px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Arial black;
    text-decoration: none;
}

.nav__ul a:hover {
    padding: 6px 24px;
    border-radius: 8px;
    text-decoration: none;
    background: rgb(103, 103, 202)
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__container {
    width: 90%;
    margin: 30px 0px;
    border-radius: 1em;
    background: #e61c5d;
    color: rgb(19, 2, 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 0px 3px 8px 4px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 8px 4px rgba(0,0,0,0.15);
    box-shadow: 0px 3px 8px 4px rgba(0,0,0,0.15);
}

.article p {
    height: 60px;
    margin: 6px;
    color: rgb(19, 2, 2);
    font-size: 32px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.article__text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.article__option {
    height: 40px;
    width: 65vw;
    max-width: 600px;
    color: rgb(19, 2, 2);
    font-size: 18px;
    font-family: Arial black;
}

.article__button {
    height: 40px;
    width: 200px;
    margin: 1em;
    border-radius: 1em;
    color: rgb(19, 2, 2);
    font-size: 22px;
    font-family: Arial black;
}

.mano__container {
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mano {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0px 3px 8px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 8px 4px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 8px 4px rgba(0,0,0,0.1);
}

.manoJugador__img {
    width: 150px;
    height: 150px;
}

.manoMaquina__img {
    width: 150px;
    height: 150px;
    transform: rotateY(180deg);
}

.manoVs {
    width: 100px;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.results {
    width: 500px;
    height: 60px;
    margin-bottom: 50px;
    text-align: center;
}

.results h3 {
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 36px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    padding: 30px;
    background: #930077;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__text {
    color: #ffffff;
    box-sizing: border-box;
    max-width: 1200px;
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.contact__text h3 {
    margin: 12px 0px;
    font-size: 24px;
    font-weight: 700;
}

.contact__text p {
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
}

.contact__logos {
    margin-top: 40px;
    margin-bottom: 80px;
    box-sizing: border-box;
    height: 150px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.contact__logo--container {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__logos--figure img {
    height: 80px;
    width: 80px;
    padding: 10px;
}

.contact__logos--figure img:hover {
    height: 88px;
    width: 88px;
    padding: 10px;
}

.design {
    margin: 0;
    padding: 16px;
    background: #3a0088;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}




/*     Media queries     */

@media only screen and (max-width: 479px) {

    .icon__menu {
        display: flex;
    }

    .header__div {
        justify-content: center;
    }

    .nav {
        justify-content: center;
    }

    .nav__ul {
        position: fixed;
        background-color: rgba(5, 111, 255, 0.8);
        z-index: 3;
        top: 0;
        left: -120vw;
        width: 100vw;
        bottom: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }

    .nav__ul.is-active {
        left: 0;
    }

    .nav__ul--li {
        width: 220px;
        margin: 14px;
        padding: 6px;
        border: 2px solid #ffffff;
        border-radius: 6px;
    }

    .nav__ul a {
        padding: 8px 70px;
    }

    .nav__ul a:hover {
        background: none;
        padding: 8px 70px;
    }

    .mano__container {
        width: 75vw;
    }

    .mano {
        width: 25vw;
        height: 25vw;
    }

    .manoJugador__img {
        width: 25vw;
        height: 25vw;
    }

    .manoMaquina__img {
        width: 25vw;
        height: 25vw;
    }

    .article p {
        margin: 4px;
        font-size: 20px;
    }

    .article__text {
        padding: 14px;;
    }

    .footer {
        font-size: 20px;
    }

    .contact__logo--container {
        height: 80px;
        width: 80px;
    }

    .contact__logos--figure img {
        height: 70px;
        width: 70px;
        padding: 10px;
    }

    .contact__logos--figure img:hover {
        height: 75px;
        width: 75px;
        padding: 10px;
    }
}


@media only screen and (min-width: 480px) and (max-width: 767px) {

    .icon__menu {
        display: flex;
    }

    .header__div {
        justify-content: center;
    }

    .nav {
        justify-content: center;
    }

    .nav__ul {
        position: fixed;
        background-color: rgba(5, 111, 255, 0.8);
        z-index: 3;
        top: 0;
        left: -120vw;
        width: 100vw;
        bottom: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }

    .nav__ul.is-active {
        left: 0;
    }

    .nav__ul--li {
        width: 260px;
        margin: 14px;
        padding: 6px;
        border: 2px solid #ffffff;
        border-radius: 6px;
    }

    .nav__ul a {
        padding: 8px 40px;
        font-size: 16px;
    }

    .nav__ul a:hover {
        background: none;
        padding: 8px 70px;
    }

    .mano__container {
        width: 75vw;
    }

    .contact__logo--container {
        height: 110px;
        width: 110px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .header {
        height: 110px;
    }

    .header__div {
        height: 110px;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .header__figure {
        margin: 0%;
    }

    .nav__ul {
        display: flex;
    }

    .nav__ul--li {
        font-size: 16px;
    }
}
